week3/myNewProject
week4/week4App
week4/homework/hw2-hello-guiruggiero
week5/week5Boxes
week5/week5FruitList
week5/week5Weather
project1/proj1-ischoolrankings-guiruggiero
week6/week6Input
week6/week6Switch
week6/homework/hw3-spookytext-guiruggiero
week7/week7Nav
week7/week7ListMaker1000
week8/node_modules
week8/week8FireStarter/secrets.js
week8/homework/hw4-lm2k-guiruggiero
week8/homework/hw4-lm2k-guiruggiero/secrets.js
week9/week9uiPlayground
week9/chat669
week9/chat669/secrets.js
week10/chat669
week10/chat669/secrets.js
project2/proj2-listmaker3000-guiruggiero
week11/week11Camera
week11/week11Camera/secrets.js
week11/homework/f20-hw5-photochat-guiruggiero
week11/homework/f20-hw5-photochat-guiruggiero/secrets.js
finalproject/diveLog/node_modules
finalproject/diveLog/secrets.js